/* off canvas menu based on http://blog.tomri.ch/super-simple-off-canvas-menu-navigation */
#offCanvasMenu { 
  position: fixed;
  top: 45px;
  bottom: 0;
  width: 12em;
	left: -12em;
  height: 100%;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;
}
#offCanvasMenu.active {
  -webkit-transform: translate3d(12em, 0px, 0px);
  -moz-transform: translate3d(12em, 0px, 0px);
  -o-transform: translate3d(12em, 0px, 0px);
  -ms-transform: translate3d(12em, 0px, 0px);
  transform: translate3d(12em, 0px, 0px);
}
#main.active {
  -webkit-transform: translate3d(12em, 0px, 0px);
  -moz-transform: translate3d(12em, 0px, 0px);
  -o-transform: translate3d(12em, 0px, 0px);
  -ms-transform: translate3d(12em, 0px, 0px);
  transform: translate3d(12em, 0px, 0px);
}
#main {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: 0.25s ease;
  -moz-transition: 0.25s ease;
  -o-transition: 0.25s ease;
  transition: 0.25s ease;  
}
