/* don't push main content away; use overlay */
.bootcards-container {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0 ease 0;
  -moz-transition: all 0 ease 0;
  -o-transition: all 0 ease 0;
  transition: all 0 ease 0; 
}
.bootcards-container.active-left {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
}

@media only screen
and (orientation : portrait) {

 .bootcards-summary-item h4 {
  font-size: 16px;
 }
 

}

.nav > li > a {
  padding: 15px 14px;
}


/*fullscreen class for iOS web apps that have been added to the home screen*/
body.fullscreen {
  padding-top: 64px;
}
.fullscreen .offcanvas-list-title {
  margin-top: 20px;
}
.fullscreen .navbar-fixed-top {
  height: 64px;
  min-height: 64px;
  padding-top: 20px;
}
.fullscreen .offcanvas {
  margin-top:65px;
}
.fullscreen > .statusbar {
  background:black;
  height:20px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1000;
}