<div>
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h3 class="panel-title pull-left">Contacts</h3>
			<div class="btn-group pull-right">
				<a class="btn btn-primary" href="/companies/{{company.id}}/contacts/add"
					data-toggle="modal"
					data-target="#editModal">
						<i class="fa fa-plus"></i>
						<span>Add</span>
				</a>
			</div>							
		</div>					
		<div class="list-group">
			{{#each company.contacts}}

				<a class="list-group-item pjax" 
					href="/contacts/{{this.id}}">
					<img src="/images/{{this.profileImage}}" class="img-rounded pull-left"/>
					<h4 class="list-group-item-heading">{{this.lastName}}, {{this.firstName}}</h4>
					<p class="list-group-item-text">{{this.company}}</p>
				</a>

			{{else}}

				<div class="list-group-item">No contacts found</div>
				
			{{/each}}
		</div>
		<div class="panel-footer">
			<small class="pull-left">Built with Bootcards - List</small>
			<a class="btn btn-link btn-xs pull-right"
					href="/snippets/list-card"
					data-toggle="modal"
					data-target="#docsModal">
					View Source</a>
		</div>		
		
	</div>
</div>