{{!< layout}}

		<div class="row">
			
			<div class="col-md-5 col-sm-5 bootcards-list" id="list" data-title="Notes">	
				<div class="panel panel-default">							
					<div class="panel-body">
						<div class="search-form">
							<div class="row">
							    <div class="col-xs-9">
							      <div class="form-group">
								      <input type="text" class="form-control" placeholder="Search Notes...">
								      <i class="fa fa-search"></i>
							      </div>
							    </div>
							    <div class="col-xs-3">
									<a class="btn btn-primary btn-block" href="/notes/add"
										data-toggle="modal"
										data-target="#editModal">
										<i class="fa fa-plus"></i> 
										<span>Add</span>
									</a>
							    </div>
							</div>						    
						</div>					
					</div>
					<div class="list-group">
						{{#each activities}}
						<a class="list-group-item pjax" 
					 			href="/notes/{{this.id}}">
							<i class="fa fa-2x pull-left {{getIconForType this.type}}"></i>
							<h4 class="list-group-item-heading">{{this.subject}}</h4>
							<p class="list-group-item-text">{{formatDate this.date "long"}}
							</p>
						</a>
						{{else}}
							<div class="list-group-item">No notes found</div>
						{{/each}}
					</div>
					<div class="panel-footer">
						<small class="pull-left">Built with Bootcards - List</small>
						<a class="btn btn-link btn-xs pull-right"
							href="/snippets/list-detailed"
							data-toggle="modal"
							data-target="#docsModal">
							View Source</a>
					</div>					
				</div>
			</div>
		
			<div class="col-md-7 col-sm-7 bootcards-cards" id="listDetails">

				{{>notes/todo}}

			</div>
		</div>

