{{!< layout}}

<div class="row">

	<div class="col-sm-4 col-sm-offset-4 bootcards-cards">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left">Settings</h3>
				<a href="/settings/edit" class="btn btn-primary pull-right" data-pjax="#main">
					<i class="fa fa-pencil"></i>
					Edit
				</a>
			</div>

			<div class="list-group">
				<div class="list-group-item">
					<p class="list-group-item-text">Username</p>
					<h4 class="list-group-item-heading">username</h4>
				</div>
				<div class="list-group-item">
					<p class="list-group-item-text">Password</p>
					<h4 class="list-group-item-heading">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</h4>
				</div>
				<div class="list-group-item">
					<p class="list-group-item-text">Type</p>
					<h4 class="list-group-item-heading">Customer</h4>
				</div>
			</div>

			<div class="panel-footer">
				<small class="pull-left">Built with Bootcards - Base Card</small>
				<a class="btn btn-link btn-xs pull-right"
							href="/snippets/base-card-form"
							data-toggle="modal"
							data-target="#docsModal">
							View Source</a>
			</div>	


	</div>

</div>