{{!< ../layout}}

<div class="panel panel-default bootcards-file">

	<div class="panel-heading"> 
		<h3 class="panel-title">File</h3>							
	</div>	
	<div class="list-group">
		<div class="list-group-item">
			<a href="#">
				<i class="icon-file-pdf"></i>
			</a>
			<h4 class="list-group-item-heading">
				<a href="#">
					{{note.subject}}
				</a>
			</h4>
			<p class="list-group-item-text"><strong>{{note.fileType}}</strong></p>
			<p class="list-group-item-text"><strong>3.2Mb</strong></p>
		</div>
		<div class="list-group-item">
			<p class="list-group-item-text"><strong>Added by Jack Herbert on 5 Mar 2014</strong></p>
		</div>
		<div class="list-group-item">
			<p class="list-group-item-text">{{note.details}}</p>
		</div>			
	</div>
	<div class="panel-footer clearfix">
		<div class="btn-group btn-group-justified">
			<div class="btn-group">
				<button class="btn btn-default">
					<i class="fa fa-arrow-down"></i>
					Download  
				</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-default">
					<i class="fa fa-star"></i>
					Favorite  
				</button>
			</div>
			<div class="btn-group">
				<button class="btn btn-default">
					<i class="fa fa-envelope"></i>
					Email 
				</button>
			</div>															
		</div>
	</div>
	<div class="panel-footer">
		<small class="pull-left">Built with Bootcards - File Card</small>
		<a class="btn btn-link btn-xs pull-right"
							href="/snippets/file-card"
							data-toggle="modal"
							data-target="#docsModal">
							View Source</a>
	</div>	

</div>